/* google fonts IM Fell English */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');
/* @import url('./css/font-awesome-6.2.1-all.min.css'); */

* {
  box-sizing: border-box;
}

body {
  font-family: 'IM Fell English';
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
  /* white-space: nowrap; */
  white-space: normal;
}

/* nav bar  */
.nav {
  position: fixed;
  background-color: rgb(41, 40, 40);
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
  height: 10vh;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.logo a {
  font-size: 1.7rem;
  white-space: nowrap;
}

.menu a {
  font-size: 1.1rem;
  white-space: nowrap;
}

.nav a {
  color: rgb(220, 216, 216);
  text-decoration: none;
  padding: 5px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: rgb(220, 216, 216);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #333;
}

.nav.active .nav-container {
  padding: 10px 0;
  height: 7vh;
}

/* .nav a.current, */
.nav a:hover {
  color: rgb(178, 141, 72);
  font-weight: bold;
}

/* footer  */
.footer {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* bottom: 0; */
  height: 15rem;
  background-color: rgb(41, 40, 40);
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: space-between;
  /* padding: 2rem 2rem; */
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-right: 5rem;
  /* padding: 1rem 3rem; */
  /* margin-top: 2rem; */
  white-space: nowrap;
}

footer .company {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer h1 {
  font-size: 1rem;
  color: rgb(238, 233, 233);
}

footer img {
  width: 10rem;
  height: auto;
}

footer .company-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer a {
  color: rgb(238, 233, 233);
  text-decoration: none;
  padding: 5px 15px;
  transition: all 0.3s ease-in-out;
}
